.front-page-header {
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.chili-bmc-buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 0;
    border: 0;
}

.bbb-button {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 0;
    border: 0;
}

.footer {
    height: auto;
    width: 480px;
}

.recipe-page {
    height: 460px;
    width: 800px;
}

/* .frontpage-button-img {
    width: 400px;
    height: 240px;
} */


h1 {
    background-color: rgb(255, 190, 129);
    color: rgb(0, 0, 0);
    text-indent: 1%;
    font-family: Arial, Helvetica, sans-serif;
}

.internal-page-buttons {
    background-color: rgb(249, 255, 167);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-indent: 1%;
}