img {
    height: auto;
    width: 800px;
}

img.recipe {
    height: auto;
    width: 300px;
}

img.footer {
    height: auto;
    width: 480px;
}

div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.front-page {
    list-style: none;
}

h1 {
    background-color: aquamarine;
}

.page-buttons {
    background-color: rgb(78, 104, 255);
}